body{
    background-color: aliceblue;
}
     h1{
    text-align: center;
    font-size: 40px;
    padding:2%;
    text-decoration: underline;
}
table{
    text-align: center;
    font-size: large;
    font-weight: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
legend{
    text-align: center;
    font-size:larger ;
    font-weight: 100px;
    display:flex;
}
fieldset{
    font-size:large;

}
section{
     position: relative;
     padding:1%;
    font-size: xx-large;
    font-weight: bolder;
}
h{
    font-size: xx-large;
    color: black;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
    font-size: 50px;
    color:red;
    text-decoration:underline;
    text-align:center;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer{
    text-align: center;
    font-size: large;
    color:cyan;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding:2%;
}
information{
    font-size: large;
    color: black;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}